* {
    color: #dddddd;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Tinos', 'serif';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    background-color: #222222;
    line-height: 30px;
}

nav {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    padding: 5px 8px;
    gap: 5px;
}

nav, main, section, article {
    min-width: 100%;
}

table{
    display: block;
    border-collapse: collapse;
    overflow: auto;
}

td, th {
    min-width: 100px;
    text-align: left;
    padding: 10px;
}

table code {
    text-wrap: nowrap;
}

tr:hover {
    background-color: #444444;
}

thead tr:hover {
    background-color: inherit;
}


a, label {
    display: inline-block;
    text-decoration: none;
    background-color: #222;
    border-style: groove;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    transition: all 0.3s;
}

a:hover, label:hover, button:hover {
    border-color: #aaaaaa;
    background-color: #252525;
}

a:active, label:active, button:active {
    border-color: rgba(44, 44, 44, 0.412);
    background-color: rgba(91, 91, 91, 0.168);
    color: #aaaaaa;
}


h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
    font-style: italic;
}

h5{
    font-size: 15px;
}

summary * {
    display: inline;
}

section {
    display: none;
    margin-bottom: auto;
    /* Empuja navbar-mobile al fondo */
}

#singularPython summary{
    font-size: inherit;
}

code{
    font-family: 'Courier New', Courier, monospace;
    background-color: #333333;
    border-radius: 5px;
    padding: 2px 4px;
}

code.codeblock {
    display: block;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: #333333;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
    max-width: 98dvw;
}

code.codeblock p, code.codeblock pre{
    font-family: inherit;
    margin: 0;
}

/* .tab1{

} */

.tab2{
    padding-left: 20px;
}

.tab3{
    padding-left: 40px;
}

input[type="radio"], input[type="checkbox"]{
    display: none;
}

#inicio {
    display: block;
}

header h1 {
    display: inline-block;
}

header {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

header, table, code.codeblock, #navbar-mobile {
    scrollbar-color: #555 #222;
}

[title]{
    display: inline-block;
    border-radius: 7px;
    transition: 0.5s;
}

[title]:hover {
  background-color: #444;
}

main{
    display: flex;
    flex-direction: column;
}

#navbar-mobile {
    display: flex;
    position: sticky;
    bottom: 1dvh;
    flex-direction: row-reverse;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

#navbar-mobile input[type="checkbox"] ~ label {
    transition: 0.5s;
}

#navbar-mobile input[type="checkbox"]:checked ~ label {
    position: relative;
    transform: translateY(120%);
}

@media screen and (max-width: 800px){
    header h1 ~ label {
        display: none;
    }
    body, table td p {
        font-size: 15px;
    }
    a, label{
        overflow-wrap: nowrap;
    }
    tr {
        border-bottom: dotted 2px;
    }
    td, th {
        min-width: 80px;
    }
    header div#navbar {
        max-height: 70px;
        max-width: 100%;
        overflow-x: auto;
    }
}
