*{
    margin: 0px;
}

summary{
    font-size: 24px;
}

#singularPython summary{
    font-size: inherit;
}

code.codeblock {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    background-color: #333333;
    border-radius: 5px;
    padding: 5px 5px;
}

code.codeblock p, code.codeblock pre{
    font-family: inherit;
    margin: 0;
}

/* .tab1{

} */

.tab2{
    padding-left: 20px;
}

.tab3{
    padding-left: 40px;
}

